/src/.idea
/jscalculator.jks
/private_key.pepk
/doc/1024_500.jpg
/doc/icon.jpg
/doc/icon.png
/doc/icon_512.png
/doc/Screenshot_20200910-231003_JsCalculator.jpg
/doc/Screenshot_20200910-231025_JsCalculator.jpg
/doc/Screenshot_20200910-232345_JsCalculator.jpg
